/* basic css style */
.container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width: 100%;

  margin-top: 50px;
  height: 70vh;
}

.image-box {
  width: 80vh;
  height: 40%;
}
.image-box img {
  width: 100%;
}

.map-wrap {
  position: relative;
  width: 100%;
}
